<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="IMS.master.cs" Inherits="Inventry_system.IMS" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"/>
          
        </div>
    </form>
</body>
</html>
